<div class="header">
  <app-bt2-header></app-bt2-header>
</div>
<div class="carousel">
  <app-bt2-carousel></app-bt2-carousel>
</div>
<div class="contents container">
  <app-bt2-contents></app-bt2-contents>
  <div class="row">
      <div class="col-sm-4">
        <app-bt2-item></app-bt2-item>
      </div>
      <div class="col-sm-4">
          <app-bt2-item></app-bt2-item>
        </div>
        <div class="col-sm-4">
            <app-bt2-item></app-bt2-item>
          </div>
    </div>
</div>
<div class="footer">
  <app-bt2-footer></app-bt2-footer>
</div>
