<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-bt1-layout></app-bt1-layout> -->
<!-- <app-bai2-layout></app-bai2-layout> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-baitap-ng-if></app-baitap-ng-if> -->
<!-- <app-attribute-directive></app-attribute-directive> -->
<!-- <app-baitap-ngfor-ngclass></app-baitap-ngfor-ngclass>
<h1 style = " color: red">High Light Directive</h1>
<p appHighLightDirective>kiet huynh</p>
<app-ng-content></app-ng-content> -->
<!-- <app-interaction></app-interaction> -->
<app-bai-tap-xe-bus></app-bai-tap-xe-bus>